#players,#motd,#version,#server{
padding:10px;
margin:10px;
margin-left:0px;
margin-right:0px;
width:100%;
background-color:rgba(30, 30, 30, 0.74);
}

section#header{
  padding:0px;
  padding-top:5px;
  padding-bottom:5px
}
