*{
  transition: 0s;
}

section#header{
  padding:30px;
  background:rgba(30, 30, 30, 0.74);
}


#players,#motd,#version,#server{
  padding:10px;
  margin:10px;
  width:50%;
  background-color:rgba(30, 30, 30, 0.74);
}
