// Media Queries //
@media screen and (max-width:760px){
    header{
        display: none;
    }

    .nav{
        display: block;
    }

    .hero{
        top:25vh;
    }

    .panel.info .column, .panel.rules .column{
        width:100%;
        display:block;
    }

    body, html{
        background: $background-mobile-image no-repeat center center fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

}

.text-danger{
    color: #a94442;
}
