::-webkit-scrollbar {
    width: $scrollbar-width;
    z-index:-999999;
}
::-webkit-scrollbar-track {
    position: fixed;
    top:0;
    right:0;
    height:100%;
    background-color: $background;
    border-left: 1px solid #222;
}
::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb;
}
::-webkit-scrollbar-thumb:hover {
    background-color: lighten($scrollbar-thumb,10%);
}
