$text-color: #333;
$background: #383838;
$background-image: url(../images/background.png);
$background-mobile-image: url(http://miningforpotatoes.github.io/images/background.png);

$scrollbar-width: 12px;
$scrollbar-track: #767676;
$scrollbar-thumb: #727272;
