@charset "UTF-8";
@import "compass/css3";
@import "variables";
@import "navigation";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
 * {
    @include box-sizing(border-box);
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", Helvetica, Arial, serif, sans-serif;
    transition:.2s;
}

// Elements //
body, html{
    background: $background-image no-repeat center center fixed;
}

a {
    text-decoration: none;
    color: white;
    &:hover {
        color: darken(white, 20%);
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    background: $background;
    width: 100%;
    z-index:10;
}

ul li {
    list-style-type: none;
    margin: 0px 100px;
    :first-child {
        float: left;
        font:24px;
        font-style: bold;
        text-transform: uppercase;
    }
    :not(:first-child){
        float: right;
        margin:0px 20px;
    }
}

// Utility Classes //
header{
    height:62px;
}

.hero{
    text-align: center;
    color:white;
    font-size:1.5rem;
    position: fixed;
    top:45vh;
    left:0;
    right:0;
}

.wrapper{
    position: absolute;
    top:100%;
    left:0;
    width:100%;
    background: $background-image center center fixed;
    z-index: 1;
    color: $text-color;
}

.panel{
    padding:5%;
    text-align:center;
    p{
        padding:1% 5%;
    }
    &.intro,&.tal{
        background:white;
    }
    &.info{
        background: rgba(0, 0, 0, 0.4);
        color: white;
        .column{
            display: table-cell;
            width:29%;
            margin-bottom: 10%;
        }
    }
    &.images{
        background: rgba(0, 0, 0, 0.4);
        color: white;
    }
}

.nav{
    display: none;
}

img.logo{
    height:32px;
    position:relative;
    bottom:4px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    opacity: 1;
    &:hover,&.hover{
        -webkit-transition: .1s ease-in-out;
        transition: .1s ease-in-out;
        opacity: 0;
    }
    &.colored{
        right:52px;
        opacity:0;
        &:hover,&.hover{
            opacity:1;
        }
    }
}

img[src^="images/pic"]{
    max-width: 100%;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin:5px;
}

// Media Queries //
@media screen and (max-width:760px){
    header{
        display: none;
    }

    .nav{
        display: block;
    }

    .hero{
        top:25vh;
    }

    .panel.info .column{
        width:100%;
        display:block;
    }
}


