#players{
border:2px solid #CCCCCC;
padding:10px;
background-color:#EEEEEE;
color:#1D1D1D;
width:50%;
margin:10px;}

#motd{
border:2px solid #CCCCCC;
padding:10px;
background-color:#EEEEEE;
color:#1D1D1D;
width:50%;
margin:10px;}

#version{
border:2px solid #CCCCCC;
padding:10px;
background-color:#EEEEEE;
color:#1D1D1D;
width:50%;
margin:10px;}

h1{position:absolute;
top:20px;
left:initial;}